.copyrights {
  display: block;
  margin: 0;

  strong {
    font-family: @landr-font-header;
  }
}

.countdown-unit {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  padding: 15px 0;
  margin: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.countdown-unit-value {
  color: @landr-color-primary;
  font-family: @landr-font-header;
  font-size: 32px;
}

.countdown-unit-text {
  font-size: 20px;
}

.find-us-list {
  font-size: 16px;
  margin: 15px 0;

  .thumbnail {
    padding: 15px 0;
    margin: 0;
    border: 0;
    text-align: center;

    .icon {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      color: @landr-color-primary;
    }
  }
}

.project-features {
  font-size: 14px;
  margin: 15px 0;

  .thumbnail {
    padding: 15px 0;
    margin: 0;
    border: 0;
    text-align: center;

    .icon {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      color: @landr-color-primary;
    }
  }
}

.scroll-to-top {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 3px solid #fff;
  border-radius: 5px;
  background: @landr-color-primary;
  color: #fff;
  transition: all 0.3s ease-out;

  &:hover, &:focus {
    border-color: @landr-color-primary;
    background: #fff;
    color: @landr-color-primary;
    text-decoration: none;
  }
}

.section-heading {
  position: relative;
  margin: 30px 0;
  padding: 18px 0;
  font-size: 42px;
  text-align: center;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0; left: 50%;
    width: 200px; height: 2px;
    margin-left: -100px;
    background: #555;
  }
}

.section-descr {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.social-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  a {
    display: inline-block;
    padding: 5px;
    margin: 0;
  }
}

.subscribe-form {
  padding: 15px 0;

  .form-control {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    transition: all 0.3s ease-out;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);

    &:focus, &:active {
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.45);
    }
  }

  .btn {
    width: 100%;
    height: 51px;
    margin-left: 3px;
    transition: all 0.3s ease-out;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);

    &:focus, &:hover, &:active {
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.45);
    }
  }

  @media (min-width: 750px) {
    .form-control {
      width: 300px;
    }

    .btn {
      width: 150px;
    }
  }
}
