.landr-home {
  position: relative;
  background: url('../img/home-bg.jpg') center top no-repeat;
  background-size: cover;
  padding: 60px 0 90px 0;
  text-align: center;
  color: #fff;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.45);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .logo {
    margin-bottom: 30px;
  }

  .jumbotron {
    background: transparent;
    margin: 0;
  }
}

.landr-about {
  padding: 30px 0 45px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  .section-descr {
    margin-bottom: 45px;
  }
}

.landr-subscribe {
  position: relative;
  padding: 30px 0 60px 0;
  background: url('../img/subscribe-bg.jpg') center center no-repeat;
  background-size: cover;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
  color: #fff;
  text-align: center;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 50, 0.3);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .section-heading {
    margin-bottom: 0;
    padding-bottom: 15px;

    &::after {
      display: none;
    }
  }
}

.landr-where-find-us {
  padding: 30px 0;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);

  @media (min-width: 750px) {
    .find-us-list {
      margin: 60px 0;
    }
  }
}

.landr-footer {
  position: relative;
  padding: 30px 0 15px 0;
  background: @landr-color-primary;
  color: #fff;
  text-align: center;

  a {
    color: #fff;
  }

  .social-links {
    font-size: 24px;
    line-height: 34px;

    a:hover, a:focus, a:active {
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.45);
      transform: scale3d(1.1, 1.1, 1);
      transition: all 0.2s ease-out;
    }
  }

  .copyrights {
    line-height: 34px;
    padding: 5px;
  }

  .scroll-to-top {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -20px;

    &:focus, &:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.45);
    }
  }

  @media (min-width: 750px) {
    & {
      padding-top: 15px;
    }

    .social-links {
      justify-content: flex-end;
    }

    .copyrights {
      text-align: left;
    }
  }
}
