doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    title Landr - Responsive Bootstrap 3 Template
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fjalla+One|Cantarell')
    link(rel='stylesheet', href='./vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='./vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='./vendor/animate.css/animate.css')
    link(rel='stylesheet', href='./css/styles.css')
  body
    main.landr
      section.landr-home(data-stellar-background-ratio='0.5')
        include ./includes/landr-home
      section.landr-about
        include ./includes/landr-about
      section.landr-subscribe(data-stellar-background-ratio='0.3')
        include ./includes/landr-subscribe
      section.landr-where-find-us
        include ./includes/landr-where-find-us
    footer.landr-footer
      include ./includes/landr-footer
  
    script(src='./vendor/jquery/jquery.js')
    script(src='./vendor/bootstrap/js/bootstrap.js')
    script(src='./vendor/jquery.countdown/jquery.countdown.js')
    script(src='./vendor/jquery.stellar/jquery.stellar.js')
    script(src='./vendor/smoothscroll/SmoothScroll.js')
    script(src='./vendor/wow/wow.js')
    script(src='./js/landr.js')
    script.
      Landr.init(
        // Landr options object
        {
          // Countdown options
          countdown: {
            el: '.countdown', // Selector for countdown element
            date: '2016/07/21 16:20:00' // Target date in 'YYYY/MM/DD hh:mm:ss'
          }
        }
      );
      
      
