div.container
  div.logo
    img(src='img/logo.svg', width='200')
  div.jumbotron.wow.fadeIn(data-wow-duration='5s')
    h1 Start is soon
    p Our amazing new site is almost ready for launch.
  div.countdown
    div.row
      div.col-xs-12.col-sm-2.col-sm-offset-2
        figure.countdown-unit.countdown-unit--days
          div.countdown-unit-value 0
          figcaption.countdown-unit-text Days
      div.col-xs-12.col-sm-2
        figure.countdown-unit.countdown-unit--hours
          div.countdown-unit-value 0
          figcaption.countdown-unit-text Hours
      div.col-xs-12.col-sm-2
        figure.countdown-unit.countdown-unit--minutes
          div.countdown-unit-value 0
          figcaption.countdown-unit-text Minutes
      div.col-xs-12.col-sm-2
        figure.countdown-unit.countdown-unit--seconds
          div.countdown-unit-value 0
          figcaption.countdown-unit-text Seconds
