div.container
  h2.section-heading.wow.fadeIn(data-wow-duration='1.5s') The Project
  div.row.wow.fadeIn
    div.col-xs-12.col-lg-8.col-lg-offset-2
      p.section-descr.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra commodo nisl a malesuada. Curabitur ut felis maximus tortor lobortis faucibus eu non lectus.
  div.project-features
    div.row
      div.col-xs-12.col-md-4
        div.thumbnail.wow.fadeInUp
          div.icon
            i.fa.fa-desktop(style='font-size: 56px')
          div.caption
            h3 Design
            p.
              Pellentesque rutrum est non massa dignissim, ac pharetra turpis varius. Nulla feugiat, massa ut lacinia commodo, nisi diam fermentum libero, vitae varius neque dolor in arcu. Duis varius convallis augue ut bibendum. Cras eget orci eget sem facilisis mollis vel lacinia magna.
      div.col-xs-12.col-md-4
        div.thumbnail.wow.fadeInUp
          div.icon
            i.fa.fa-dollar(style='font-size: 56px')
          div.caption
            h3 Advertising
            p.
              Pellentesque rutrum est non massa dignissim, ac pharetra turpis varius. Nulla feugiat, massa ut lacinia commodo, nisi diam fermentum libero, vitae varius neque dolor in arcu. Duis varius convallis augue ut bibendum. Cras eget orci eget sem facilisis mollis vel lacinia magna.
      div.col-xs-12.col-md-4
        div.thumbnail.wow.fadeInUp
          div.icon
            i.fa.fa-code(style='font-size: 56px')
          div.caption
            h3 Development
            p.
              Pellentesque rutrum est non massa dignissim, ac pharetra turpis varius. Nulla feugiat, massa ut lacinia commodo, nisi diam fermentum libero, vitae varius neque dolor in arcu. Duis varius convallis augue ut bibendum. Cras eget orci eget sem facilisis mollis vel lacinia magna.
                
          
