div.container
  div.wow.fadeInLeft
    h2.section-heading Subscribe to our newsletter
    p.section-descr You'll be one of the first to know when the site is ready
  form.form-inline.subscribe-form.wow.fadeInRight
    div.form-group
      input.form-control.input-lg(name='email', type='email', placeholder='Enter your email...')
    button.btn.btn-primary.btn-lg(type="submit") Subscribe
    
