div.container
  div.row
    div.col-xs-12.col-sm-6.col-sm-push-6
      ul.social-links
        li
          a(href='#')
            i.fa.fa-facebook.fa-fw
        li
          a(href='#')
            i.fa.fa-twitter.fa-fw
        li
          a(href='#')
            i.fa.fa-instagram.fa-fw
        li
          a(href='#')
            i.fa.fa-google-plus.fa-fw
        li
          a(href='#')
            i.fa.fa-youtube.fa-fw
        li
          a(href='#')
            i.fa.fa-linkedin.fa-fw
        li
          a(href='#')
            i.fa.fa-pinterest.fa-fw
    div.col-xs-12.col-sm-6.col-sm-pull-6
      p.copyrights
        strong Landr
        span &nbsp;&copy;&nbsp;
        strong 2016
  a.scroll-to-top(href='#', title='Scroll to top')
    i.fa.fa-chevron-up.fa-fw
