div.container
  h2.section-heading.wow.fadeIn Where find us
  div.find-us-list.wow.fadeInUp
    div.row
      div.col-xs-12.col-sm-4
        div.thumbnail
          div.icon
            i.fa.fa-fw.fa-home(style='font-size: 52px; transform: scale3d(0.9, 1, 1)')
          div.caption
            p 420, Beautiful Street, NY
      div.col-xs-12.col-sm-4
        div.thumbnail
          div.icon
            i.fa.fa-fw.fa-mobile(style='font-size: 56px')
          div.caption
            p +1 (234) 567-89-00
      div.col-xs-12.col-sm-4
        div.thumbnail
          div.icon
            i.fa.fa-fw.fa-paper-plane-o(style='font-size: 42px')
          div.caption
            p some-email@domain.com
